<header class="header">
  <h1 class="header__title">
    <a routerLink=""
      class="header__title-link">
      {{title | uppercase}}
    </a>
    <label class="header__title-label">is needs for improvement...</label>
  </h1>
  <nav>
    <button routerLink="/home"
      *ngIf="user!=null"
      routerLinkActive="active_button">
      Home
    </button>
    <button routerLink="/profile"
      *ngIf="user!=null"
      routerLinkActive="active_button">
      Profile
    </button>

    <button routerLink="/sign-up"
      *ngIf="user==null"
      routerLinkActive="active_button">
      Sign up
    </button>
    <button routerLink="/sign-in"
      *ngIf="user==null"
      routerLinkActive="active_button">
      Sign in
    </button>
  </nav>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
