<header class="header">
  <h1>
    <a routerLink="" class="header__title-link">
      {{title | uppercase}}
    </a>
    <label class="header__title-label">is needs for improvement...</label>
  </h1>
  <nav>
    <a routerLink="/">
      <button>Home
      </button>
    </a>
    <a routerLink="/users">
      <button>Users
      </button>
    </a>
    <a routerLink="/new-user">
      <button>New user
      </button>
    </a>
  </nav>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
